.TextInput {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: var(--font-family-sf-pro);

    label{
        font-size: 14px;
        line-height: 20px;
    }

    input{
        width: 100%;
        padding: 10px;
        font-size: 14px;
        line-height: 20px;
        border: 1px solid #E1E3E6;
        border-radius: 8px;

        &::placeholder{
            color: #999FA6;
        }

        &:focus{
            border-color: var(--contrast-color);
        }
    }
}

