.Modal {
    pointer-events: none;

    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;

    transition: all 0.3s;
    transition-property: opacity, z-index;
}

.backdrop {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-color: var(--backdrop-color);
}

.content {
    cursor: auto;

    min-width: 100px;
    max-width: 80vw;
    min-height: 100px;
    max-height: 80vh;
    padding: 24px;

    color: var(--primary-color);

    background-color: var(--primary-bg-color);
    border-radius: 5px;
}

.showModal {
    pointer-events: all;
    z-index: var(--modal-z-index);
    opacity: 1;
}
