.FilmDetails {
    display: flex;
    gap: 32px;
}


.title{
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 32px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;

    font-size: 20px;
    line-height: 24px;

    b{
        font-weight: 600;
    }

}

.description{
    .header{
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 16px;
    }

    .text{
        font-size: 16px;
        line-height: 24px;
    }
}

.img{
    width: 400px;
    min-width: 400px;
    height: 500px;
    background-color: #E0E0E0;
    border-radius: 8px;
    color: #828282;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    

    .placeholder{
        width: 128px;
        height: 128px;
    }
}